<div>

</div>

<router-outlet></router-outlet>
<div class="loader" *ngIf="showLoader">
  <div class='loader3'>
    <div class='spinner2'>
      <div class='container-B'>
        <div class='hex0'></div>
        <div class='hex120'></div>
        <div class='hex240'></div>
        <div class='spinner2'>
          <div class='container-B'>
            <div class='hex0'></div>
            <div class='hex120'></div>
            <div class='hex240'></div>
            <div class='spinner2'>
              <div class='container-B'>
                <div class='hex0'></div>
                <div class='hex120'></div>
                <div class='hex240'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>