<div id="home">
	<div id="background1"> </div>

	<div class="box-mid">
		<img src="./assets/images/logo.png">
		<h1 class="bien">¡Bienvenido!</h1>
		<h1>Assessment de diagnóstico de la cultura de Innovación.</h1>

		<div id="social-media">
			<a href="https://www.facebook.com/EnEstadoBeta/" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://www.youtube.com/channel/UCJoChqjo0Gd-s6ubqqPzciA" target="_blank"><i class="fa fa-youtube-square"></i></a>
			<a href="https://www.linkedin.com/company/enestadobeta/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
			<a href="https://www.instagram.com/enestadobeta/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
		</div>
		<div class="capsule-button">
			<a routerLink="/preInicio" class="button"> Continuar </a>
		</div>
	</div>

</div>