<div class="content">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	  	<div>
	  		<li class="breadcrumb-item"><a  [routerLink]="['/admin/preguntas']">Dimensiones</a></li>
	    	<li class="breadcrumb-item active" aria-current="page">{{dimension.name}}</li>
	  	</div>
	  	<a [routerLink]="['/admin/preguntas']"><i class="fa fa-arrow-left"></i></a>
	  </ol>
	</nav>
	<div class="box-actions">
		<h2 class="title">Areas</h2>
		<div class="actions">
			<!--<button type="button" class="btn btn-outline-primary" (click)="collapse()"> <i class="fa fa-pencil"></i> Editar</button>
			<button type="button" class="btn btn-outline-danger" (click)="openModal(template)"> <i class="fa fa-trash"></i> Eliminar</button>-->
			<button type="button"  (click)="collapseAdd()" class="btn btn-outline-primary"> <i class="fa fa-plus"></i> Agregar Area</button>
		</div>
	</div>
	<div class="form-add dimension-edit">
		<h4><strong>Editar Dimensión</strong></h4>
		<!-- <p>Ingresa el nombre del area y haz clic en Guardar.</p> -->
		<div class="box-form-add">
			<div class="form-group">
				<label>Nombre:</label>
				<input [(ngModel)]="dimension.name" class="medium" type="text" name="name" placeholder="">
			</div>
			<div class="form-group">
				<label>Orden:</label>
				<input [(ngModel)]="dimension.weight" class="medium" type="Number" name="weight" placeholder="">
				<button type="button" (click)="updateDimension()" class="margin-top btn btn-outline-success"> <i class="fa fa-save"></i> Guardar</button>
			</div>
		</div>
	</div>
	<div class="form-add area">
		<h4><strong>Agregar Área</strong></h4>
		<!-- <p>Ingresa el nombre del area y haz clic en Guardar.</p> -->
		<div class="box-form-add">
			<div class="form-group">
				<label>Nombre:</label>
				<input [(ngModel)]="newArea.name" class="medium" type="text" name="name" placeholder="">
			</div>
			<div class="form-group">
				<label>Orden:</label>
				<input [(ngModel)]="newArea.weight" class="medium" type="Number" name="weight" placeholder="">
				<button type="button" (click)="save()" class="btn btn-outline-success margin-top "> <i class="fa fa-save"></i> Guardar</button>
			</div>
		</div>
	</div>
	<div class="list-component">
		<div *ngFor="let area of areas" class="box empresa" (click)="goArea($event, area._id)">
			<div class="title">
				<h3>{{area.name}}</h3>
			</div>
			<div class="title">
				<button type="button" title="Editar" class="btn btn-outline-primary" [routerLink]="['/admin/preguntas/' + dimension._id + '/' + area._id + '/editar']"><i class="fa fa-pencil"></i></button>
				<button type="button" title="Eliminar" (click)="openModal(template, area)" class="btn btn-outline-danger"> <i class="fa fa-trash"></i></button>
			</div>
		</div>
	</div>
</div>
<ng-template #template>
  <div class="modal-body popup-finish">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3>¿Estás seguro que desea eliminar esta Dimensión?</h3>
    <div class="actions">
      <button _ngcontent-c1="" (click)="deleteArea()" class="btn btn-primary btn-pop">Sí</button>
      <button _ngcontent-c1="" (click)="modalRef.hide()" class="btn btn-danger">No</button>
    </div>
  </div>
</ng-template>