<div class="content">
	<div class="list-component">
		<div class="box-actions">
			<h2 class="title">Empleados</h2>
			<div class="actions">
				<button type="button" class="btn btn-outline-primary" [routerLink]="['/users/crear']"> <i class="fa fa-plus"></i> Agregar Empleado</button>
			</div>
		</div>
		<div class="users">
			<table class="table quiz">
				<thead>
					<th class="text">Nombres</th>
					<th class="text">Apellidos</th>
					<th class="text">DNI</th>
					<th class="text">Correo</th>					
					<th class="last center">Acciones</th>
				</thead>
				<tbody>
					<tr *ngFor="let usuario of users | paginate: { itemsPerPage: filterUsuariosAll.quantity, currentPage: filterUsuariosAll.p1 }">
						<td class="text">{{usuario.nombres}}</td>
						<td class="text">{{usuario.apellidos}}</td>
						<td class="text">{{usuario.dni}}</td>
						<td class="text">{{usuario.correo}}</td>
						<td class="last center">
							<button type="button" title="Editar" class="btn btn-outline-primary" [routerLink]="['/admin/usuarios', usuario._id]"><i class="fa fa-pencil"></i></button>
							<button type="button" title="Eliminar" (click)="openModal(template, usuario)" class="btn btn-outline-danger"> <i class="fa fa-trash"></i></button>
						</td>
					</tr>
					<ng-template #template>
					  <div class="modal-body popup-finish">
					    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
					      <span aria-hidden="true">&times;</span>
					    </button>
					    <h3>¿Estás seguro que desea eliminar esta pregunta?</h3>
					    <div class="actions">
					      <button _ngcontent-c1="" (click)="delete()" class="btn btn-primary btn-pop">Sí</button>
					      <button _ngcontent-c1="" (click)="modalRef.hide()" class="btn btn-danger">No</button>
					    </div>
					  </div>
					</ng-template>
				</tbody>
			</table>
			<pagination-controls class="pagination-oefa" (pageChange)="pageChanged($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
		</div>
	</div>
</div>
<ng-template #templateArea>
  <div class="modal-body popup-finish">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3>¿Estás seguro que desea eliminar esta Usuario?</h3>
    <div class="actions">
      <button _ngcontent-c1="" (click)="modalRef.hide()" class="btn btn-primary">Sí</button>
      <button _ngcontent-c1="" (click)="modalRef.hide()" class="btn btn-danger">No</button>
    </div>
  </div>
</ng-template>